streamlit==1.32.2
langchain==0.1.10
langchain-community==0.0.25
langchain-core==0.1.28
chromadb==0.4.24
langchain-chroma==0.1.0
pypdf==4.1.0
python-dotenv==1.0.1
PyYAML==6.0.1
dashscope==1.22.0
langchain-text-splitters==0.0.1
langchain-agents==0.1.0
loguru==0.7.2
